In [1]:
import numpy as np
import pandas as pd

In [2]:
a=[10,15,20,25]
b=[10,15,30,50]
array_a=np.array(a)
array_b=np.array(b)

In [3]:
sumofarray=array_a+array_b
print(sumofarray)

[20 30 50 75]

In [4]:
3*sumofarray

array([ 60,  90, 150, 225])

In [5]:
sumofarray[sumofarray!=60]

array([20, 30, 50, 75])

In [6]:
np.logical_and(sumofarray>20,sumofarray<40)

array([False,  True, False, False])

In [7]:
np.logical_or(sumofarray>20,sumofarray<40)

array([ True,  True,  True,  True])

In [8]:
slicing=np.array([10,13,18,25])
print(slicing[:3])

[10 13 18]

In [9]:
array=np.array([20,23,7,59,64,72])
print(array[4])

64

In [10]:
marks=np.array([[30,50,12],[45,85,13]])
passing_score=marks>35
passing_score

array([[False,  True, False],
       [ True,  True, False]])

In [11]:
import numpy as np
ar=np.array([[10,11,12,13,14,15,16,17],
             [17,18,19,20,21,22,23,24],
             [24,25,26,27,28,29,30,31],
             [31,32,33,34,35,36,37,38],
             [38,39,40,41,42,43,44,45],
             [24,25,26,27,28,29,30,31],
             [10,11,12,13,14,15,16,17],
             [38,39,40,41,42,43,44,45]])

In [12]:
ar.reshape(4,4,4)

array([[[10, 11, 12, 13],
        [14, 15, 16, 17],
        [17, 18, 19, 20],
        [21, 22, 23, 24]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31],
        [31, 32, 33, 34],
        [35, 36, 37, 38]],

       [[38, 39, 40, 41],
        [42, 43, 44, 45],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[10, 11, 12, 13],
        [14, 15, 16, 17],
        [38, 39, 40, 41],
        [42, 43, 44, 45]]])

In [13]:
np.arange(10,20,2)

array([10, 12, 14, 16, 18])

In [14]:
np.resize(ar,(7,9))

array([[10, 11, 12, 13, 14, 15, 16, 17, 17],
       [18, 19, 20, 21, 22, 23, 24, 24, 25],
       [26, 27, 28, 29, 30, 31, 31, 32, 33],
       [34, 35, 36, 37, 38, 38, 39, 40, 41],
       [42, 43, 44, 45, 24, 25, 26, 27, 28],
       [29, 30, 31, 10, 11, 12, 13, 14, 15],
       [16, 17, 38, 39, 40, 41, 42, 43, 44]])

In [15]:
np.hsplit(ar,2)

[array([[10, 11, 12, 13],
        [17, 18, 19, 20],
        [24, 25, 26, 27],
        [31, 32, 33, 34],
        [38, 39, 40, 41],
        [24, 25, 26, 27],
        [10, 11, 12, 13],
        [38, 39, 40, 41]]), array([[14, 15, 16, 17],
        [21, 22, 23, 24],
        [28, 29, 30, 31],
        [35, 36, 37, 38],
        [42, 43, 44, 45],
        [28, 29, 30, 31],
        [14, 15, 16, 17],
        [42, 43, 44, 45]])]

In [16]:
import pandas as pd
df=pd.DataFrame({"a":[1,2,3],
                 "b":[4,5,6],
                 "c":[7,8,9]},
                index=[1,2,3])

In [17]:
df=pd.DataFrame({1:[1,2,3],
                 2:[4,5,6],
                 3:[7,8,9]},
                index=["a","b","c"])
df

   1  2  3
a  1  4  7
b  2  5  8
c  3  6  9

In [18]:
df=pd.DataFrame({"a":[1,2,3],
                 "b":[4,5,6],
                 "c":[7,8,9]},
                index=pd.MultiIndex.from_tuples([('d',1),('d',1),('e',2)],names=['n','v']))
df

     a  b  c
n v
d 1  1  4  7
  1  2  5  8
e 2  3  6  9