In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("D:/KL University/SEM 2-2/Data Science/Labs/Lab 3/housing.csv")

In [3]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
js=pd.read_json("D:/KL University/2nd Year/2-2/DS/Practical/LAB3/housejson.json")
js

ValueError: Expected object or value

In [ ]:
de=pd.read_excel("D:\KL University\SEM 2-2\Data Science\Labs\Lab 4.xlsx")

In [ ]:
de

In [ ]:
df.apply(pd.Series.value_counts)

In [ ]:
df.values.tolist()

In [ ]:
df.longitude.unique()

In [ ]:
df.iloc[3,:]

In [ ]:
df.loc[0]

In [ ]:
df.rename(columns={'housing_nedian_age':'House_Median_Age'},inplace=True)
df

In [ ]:
df.rename(index={0:'x',1:'y',3:'z'})

In [ ]:
df.rename(index=lambda x:x+1)

In [ ]:
df.pivot_table(index='total_rooms',values=['total_bedrooms','population'],aggfunc=np.sum)