In [1]:
import pandas as pd

In [2]:
usa_data = pd.DataFrame(
    {
        'Sl. No':[1,2,3,4,5,6,7,8,9,10],
        'Name':['x','y','z','p','q','r','s','t','u','v'],
        'SSN NO':['12us01','12us02','12us03','12us04','12us05','12us06','12us07','12us08','12us09','12us10'],
        'Country':['USA','USA','USA','USA','USA','USA','USA','USA','USA','USA'],
        'Bodytemp_usa':[97.2,97.4,98.5,98.6,97.8,97.6,98.6,98.9,99.2,99.2],
        'Height_usa(feet)':[6.4,6.5,6.2,5.9,5.8,5.11,6.3,6.5,6.7,6.6]
    },
    columns=['Sl. No','Name','SSN NO','Country','Bodytemp_usa','Height_usa(feet)']
)

In [3]:
usa_data

   Sl. No Name  SSN NO Country  Bodytemp_usa  Height_usa(feet)
0       1    x  12us01     USA          97.2              6.40
1       2    y  12us02     USA          97.4              6.50
2       3    z  12us03     USA          98.5              6.20
3       4    p  12us04     USA          98.6              5.90
4       5    q  12us05     USA          97.8              5.80
5       6    r  12us06     USA          97.6              5.11
6       7    s  12us07     USA          98.6              6.30
7       8    t  12us08     USA          98.9              6.50
8       9    u  12us09     USA          99.2              6.70
9      10    v  12us10     USA          99.2              6.60

In [4]:
ind_data = pd.DataFrame(
    {
        'Sl. No':[1,2,3,4,5,6,7,8,9,10],
        'Name':['A','B','C','D','E','F','G','H','I','J'],
        'SSN NO':['15ind01','15ind02','15ind03','15ind04','15ind05','15ind06','15ind07','15ind08','15ind09','15ind10'],
        'Country':['IND','IND','IND','IND','IND','IND','IND','IND','IND','IND'],
        'Bodytemp_india':[98.4,98.4,97.8,98.6,97.8,98.6,98.6,98.8,99.6,98.8],
        'Height_ind(feet)':[5.8,5.7,5.5,5.4,5.6,6.2,6.1,5.10,5.6,5.4]
    },
    columns=['Sl. No','Name','SSN NO','Country','Bodytemp_india','Height_ind(feet)']
)

In [5]:
ind_data

   Sl. No Name   SSN NO Country  Bodytemp_india  Height_ind(feet)
0       1    A  15ind01     IND            98.4               5.8
1       2    B  15ind02     IND            98.4               5.7
2       3    C  15ind03     IND            97.8               5.5
3       4    D  15ind04     IND            98.6               5.4
4       5    E  15ind05     IND            97.8               5.6
5       6    F  15ind06     IND            98.6               6.2
6       7    G  15ind07     IND            98.6               6.1
7       8    H  15ind08     IND            98.8               5.1
8       9    I  15ind09     IND            99.6               5.6
9      10    J  15ind10     IND            98.8               5.4

In [6]:
var_bodytemp_ind = ind_data['Bodytemp_india'].var()
var_bodytemp_ind

0.26711111111110974

In [7]:
var_bodytemp_usa = usa_data['Bodytemp_usa'].var()
var_bodytemp_usa

0.5511111111111116

In [8]:
ind_data['Bodytemp_india'] + usa_data['Bodytemp_usa'].var()

0     98.951111
1     98.951111
2     98.351111
3     99.151111
4     98.351111
5     99.151111
6     99.151111
7     99.351111
8    100.151111
9     99.351111
Name: Bodytemp_india, dtype: float64

In [9]:
var_height_usa = usa_data['Height_usa(feet)'].var()
var_height_usa

0.2308988888888888

In [10]:
var_height_ind = ind_data['Height_ind(feet)'].var()
var_height_ind

0.10933333333333334

In [11]:
ind_data['Height_ind(feet)'] + usa_data['Height_usa(feet)'].var()

0    6.030899
1    5.930899
2    5.730899
3    5.630899
4    5.830899
5    6.430899
6    6.330899
7    5.330899
8    5.830899
9    5.630899
Name: Height_ind(feet), dtype: float64

In [12]:
iris = pd.read_csv('iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
iris['sepal_length'].var()

0.6856935123042505

In [14]:
iris['sepal_width'].var()

0.18800402684563763

In [15]:
iris['sepal_length']+iris['sepal_width'].var()

0      5.288004
1      5.088004
2      4.888004
3      4.788004
4      5.188004
         ...
145    6.888004
146    6.488004
147    6.688004
148    6.388004
149    6.088004
Name: sepal_length, Length: 150, dtype: float64