In [2]:
import numpy as np
import pandas as pd

In [6]:
data = {
    'Sunny':[6/20,1/20,0/20,7/20],
    'Cloudy':[2/20,5/20,1/20,8/20],
    'Rainy':[0/20,2/20,3/20,5/20],
    'Marginal':[8/20,8/20,4/20,20/20]
}
df = pd.DataFrame(data,index=['Sunny','Cloudy','Rainy','Marginal'],columns=['Sunny','Cloudy','Rainy','Marginal'])
df

          Sunny  Cloudy  Rainy  Marginal
Sunny      0.30    0.10   0.00       0.4
Cloudy     0.05    0.25   0.10       0.4
Rainy      0.00    0.05   0.15       0.2
Marginal   0.35    0.40   0.25       1.0

In [10]:
df.loc['Sunny','Cloudy']

0.1

In [13]:
df.loc['Cloudy','Rainy']

0.1

In [14]:
df.loc['Rainy','Cloudy']

0.05